.banner {
  padding: 65px 0;
  background: linear-gradient(270deg, #005BFF 0%, #A30000 100%);

  &__top {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 30px;
  }

  &__logo-wrapper {
    margin-right: 60px;


    &:last-of-type {
      margin-right: 0;
    }

    &:nth-child(odd) {
      position: relative;

      &::after {
        position: absolute;
        content: "";
        top: 50%;
        right: -30px;
        width: 1px;
        height: 60px;
        background-color: $color-default-white;
        transform: translateY(-50%);
      }
    }
  }

  &__text {
    @include h2;
    margin: 0;
    margin-bottom: 30px;
    font-weight: 500;
    color: $color-default-white;
    text-align: center;
    line-height: 130%;
  }

  .btn {
    max-width: 300px;
    display: block;
    justify-content: center;
    margin: 0 auto;
    font-size: 16px;
    line-height: 19px;
  }
}
