.btn {
  @include reset-btn;

  display: inline-flex;
  font-family: $font-family--main;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: $color-black;
  text-align: center;
  padding: 12px 36px;
  background-color: $color-gray-2;
  border: 1px solid $color-gray-4;
  border-radius: 2px;
  transition: color $default-transition-settings, background-color $default-transition-settings;

  &--lg {
    min-width: 250px;
    padding: 14px 50px;
  }
}

.btn--grey {

  @media (hover: hover),
  screen and (min-width: 0\0) {

    &:hover,
    &:focus {
      background-color: $color-gray-4;
    }
  }

  &:active {
    background-color: $color-gray-2;
    border: 1px solid $color-gray-4;
  }

  &:disabled {
    color: rgba($color-black, 0.5);
    background-color: rgba($color-gray-2, 0.5);
    cursor: default;
  }
}

.btn--red {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  background-color: $color-red-2;
  border: 1px solid $color-red-2;
  color: $color-default-white;

  &:hover,
  &:focus {
    background-color: $color-default-white;
    border: 1px solid $color-red-2;
    color: $color-red-2;
  }

  &:active {
    background-color: $color-red-2;
    color: $color-default-white;
  }
}

.btn--transparent {
  color: $color-red-2;
  background-color: transparent;
  border: 1px solid $color-red-2;

  &:hover,
  &:focus {
    background-color: $color-red-2;
    color: $color-default-white;
  }

  &:active {
    background-color: $color-default-white;
    color: $color-red-2;
  }
}

.btn--white {
  color: $color-default-white;
  background-color: transparent;
  border: 1px solid $color-default-white;
}
