.header {
  display: flex;
  flex-direction: column;

  &__top {
    padding: 24px 0;
    border-bottom: 1px solid $color-gray-4;

    .container {
      display: flex;
      justify-content: space-between;
    }
  }

  &__logo {
    flex-shrink: 0;
    margin-right: 20px;

    &:last-of-type {
      margin-right: 0;
    }
  }

  &__contacts {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin-right: 20px;
  }

  &__link {
    margin-right: 40px;
    padding: 10px 0;
    font-family: $font-family--main;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;

    color: $color-black;
    transition: color $default-transition-settings;

    svg {
      margin-left: 4px;
      fill: $color-black;
      transition: fill $default-transition-settings;
    }

    &:hover {
      color: $color-gray-1;

      svg {
        fill: $color-gray-1;
      }
    }

    &--select {
      display: flex;
      align-items: center;
    }
  }

  .main-nav__toggle {
    display: none;
  }
}
