.promo {
  position: relative;
  border-bottom: 4px solid;
  border-image: url("../img/content/border.png") 4 repeat;
  background-color: $color-gray-4;
  overflow-y: hidden;
  z-index: 0;

  &__img {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
  }

  &__img-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    padding-bottom: percentage(500/1920);

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__wrapper {
    min-height: 500px;
  }

  &__content {
    padding-top: 135px;
    padding-bottom: 100px;
  }

  &__title {
    @include h1;
    margin: 0;
  }

  &__actions {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 30px;

    .btn {
      margin-right: 60px;
      margin-bottom: 20px;
    }
  }

  &__pref {
    display: flex;
    align-items: center;
    margin-right: 50px;
    margin-bottom: 20px;
  }

  &__icon {
    margin-right: 15px;
  }

  &__text {
    margin: 0;
    max-width: 175px;
    font-weight: 600;
    font-size: 16px;
    line-height: 130%;
    color: $color-default-white;
  }
}
