@mixin retina {

  @media (min-resolution: $retina-dpi),
  (min-resolution: $retina-dppx) {
    @content;
  }
}

// Desktop first

@mixin viewport--xl {
  @media (max-width: $viewport--xxl - 1) {
    @content;
  }
}

@mixin viewport--lg {
  @media (max-width: $viewport--xl - 1) {
    @content;
  }
}

@mixin viewport--md {
  @media (max-width: $viewport--lg - 1) {
    @content;
  }
}

@mixin viewport--sm {
  @media (max-width: $viewport--md - 1) {
    @content;
  }
}

// Mobile first

/* @mixin viewport--md {
  @media (min-width: $viewport--md) {
    @content;
  }
}

@mixin viewport--lg {
  @media (min-width: $viewport--lg) {
    @content;
  }
}

@mixin viewport--xl {
  @media (min-width: $viewport--xl) {
    @content;
  }
}

@mixin viewport--xxl {
  @media (min-width: $viewport--xxl) {
    @content;
  }
} */

@mixin reset-btn {
  padding: 0;
  background-color: $color-transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

@mixin h1 {
  font-weight: 700;
  font-size: 66px;
  line-height: 120%;
  letter-spacing: 0.01em;
  color: $color-default-white;

  em {
    font-style: normal;
    color: $color-orange;
  }
}

@mixin h2 {
  margin: 0;
  font-weight: 600;
  font-size: 41px;
  line-height: 120%;
  letter-spacing: 0.01em;
  color: $color-black;

  em {
    font-style: normal;
    color: $color-orange;
  }
}

@mixin h3 {
  margin: 0;
  font-weight: 500;
  font-size: 26px;
  line-height: 120%;
  letter-spacing: 0.01em;
  color: $color-black;
}
