// Default

$color-default-black: #000000;
$color-default-white: #ffffff;
$color-transparent: rgba(255, 255, 255, 0);

// Base

$color-black: #231f20;
$color-white: #f0ffff;

$color-gray-1: #575757;
$color-gray-2: #f2f2f2;
$color-gray-3: #f8f8f8;
$color-gray-4: #ededed;
$color-gray-5: #8f8f8f;

$color-green: #44b022;
$color-orange: #ff8000;
$color-yellow: #ffc000;
$color-blue: #44b0ff;
$color-blue-2: #0077cc;
$color-bordo: #aa1155;
$color-red: #e91155;
$color-red-2: #a30000;


// Gradient

$black-to-right: linear-gradient(90deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 75%);

// Typography
//---------------------------------

$font-family--main: "Gilroy",
"Arial",
sans-serif;

// Animation
//---------------------------------

$default-transition-settings: 0.3s ease;
$modal-transition-settings: 0.6s cubic-bezier(0.55, 0, 0.1, 1);

// Viewports
//---------------------------------

$viewport--sm: 320px;
$viewport--md: 768px;
$viewport--lg: 1024px;
$viewport--xl: 1440px;
$viewport--xxl: 1920px;

// Retina
//---------------------------------

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
